<!-- <ngx-sortable [items]="items" [name]="'List'" (listSorted)="listOrderChanged($event)">
        <ng-template let-item>
            <div class="sortable-list-item">
                {{item.item}}
            </div>
        </ng-template>
    </ngx-sortable> -->



    <div class="list">
    <input type="text" class="input" placeholder="Add items in your list"/>
    <span class="add" #add id="add">+</span>
  </div>
  <ul>
    <li class="draggable" draggable="true">HTML</li>
    <li class="draggable" draggable="true">CSS</li>
    <li class="draggable" draggable="true">JavaScript</li>
    <li class="draggable" draggable="true">PHP</li>
    <li class="draggable" draggable="true">MySQL</li>
  </ul>


  <p>After disembarking your plane, if your luggage is checked all the way through to your next destination, simply follow the signs to the Transit Desk located at the same floor you embarked at (second floor) of the terminal. </p>
  <p>If you need to collect your luggage, proceed to the immigration counters then to the Baggage claim hall. You will then need to go to the Departures area at the third floor to continue your ravel.<br><br></p>
  <p><b>Amman Airport Hotel (Transit Hotel)</b></p>
  <p> Departures – North Pier<br><br></p>

  <p><a href="tel:962-6-445-1000">Tel:    +962 6 445 1000</a></p>
  <p><a href="fax:962-6-445-1029">Fax:    +962 6 445 1029</a></p>
  <p><a href="tel:962-6-445-1029">Mobile:    +962 79 789 8000</a></p>
  
  <p>E-mail: <a href="mailto:reservation@ammanairporthotel.com" target="_top">reservation@ammanairporthotel.com</a></p>
  <p>Website:    <a href="http://ammanairporthotel.com/" target="_blank" rel="noopener noreferrer">www.ammanairporthotel.com</a></p>

